// Custom styles.
// 主页文章添加阴影效果
.post {
   margin-top: 10px;  
   margin-bottom: 0px;
   padding: 0px;
   background:rgba(255,255,255,0.9) none repeat scroll !important;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.post.post-type-normal{
	border-radius: 10px !important;
}
.post-block{
	border-radius: 10px !important;
	/* background:rgba(255, 255, 255, 0.1) none repeat scroll !important; */
}

.header-inner{
  margin-top: 0px; 
}
.main-inner{
  margin-top: 0px;
}